<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Charged.Cloud" value="https://pkgs.dev.azure.com/Chargedbv/OneProject/_packaging/Charged.Cloud/nuget/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="Charged.Cloud">
      <package pattern="Charged.Cloud.*" />
    </packageSource>  
  </packageSourceMapping>
</configuration> 